fieldset {
  background-color: #eeeeee;
  padding: 20px;
  z-index: 0;
}

legend {
  font-size: 20px;
  background-color: gray;
  color: rgba(248, 248, 248, 0.904);
  padding: 5px 10px;
}

.box {
  background-color: #ae4ee634;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.box a {
  color: black;
  text-decoration: none;
  display: inline-block;
}

.box h2{
  margin-top: 15px;
  text-align: center;
}

.box a:hover {
  color: #ae4ee6ce;
  transition: 0.01s;
}

.scroll {
  width: 300px;
  height: 600px;
  overflow: auto;
}

.row1 {
  position: absolute;
  margin: 0 auto;
  margin-left: 310px;
  margin-right: 100px;
}

.row2 {
  position: absolute;
  margin: 0 auto;
  margin-left: 710px;
  margin-right: 100px;
}

.row3 {
  position: absolute;
  margin: 0 auto;
  margin-left: 1110px;
  margin-right: 100px;
}

.row4 {
  position: absolute;
  margin: 0 auto;
  margin-left: 1510px;
  margin-right: 100px;
}

#column1 {
  margin-top: -50px;
}

#column2 {
  margin-top: 570px;
}

#column3 {
  margin-top: 570px;
}

#column4 {
  margin-top: 570px;
}

#terminal{
  border: 2px solid black;
  min-width: 240px;
  height: 120px;
  overflow: scroll;
}
