
.description {
  flex-direction: column;
  display: flex;
  width: 500px;
  line-height: 1.5;
  z-index: 0;
}

.description h3 {
  padding-bottom: 15px;
  z-index: 0;
}

.author {
  color: darkgrey;
  padding-top: 15px;
  z-index: 0;
}

.marco-Personal {
  background-color: #363636;
  width: 370px;
  height: 600px;
  margin-left: -50px;
  margin-top: -560px;
  z-index: 0;
}

.detalles {
  margin-top: 50px;
  margin-left: 1350px;
  z-index: 0;
}

.detalles h3 {
  padding-bottom: 15px;
  z-index: 0;
}

.detalles h4 {
  padding-top: 15px;
  padding-bottom: 5px;
  z-index: 0;
}
