* {
	transition: 0.3s;
}

html{
font-family: 'Ubuntu', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif;
}

body {
	background-color: #d8d8d8;
    margin: 0px;
}

        header {
          background-color: #292929;
          font-size: 60px;
          text-align: center;
          color: #cb6b6c;
		  text-align: center;
		  padding-bottom: 10px;
        }
	
footer {
  background-color: #292929;
  text-align: center;
  padding: 5px;
  color: white;
}

.vertical {
  position: unset;
  overflow: hidden;
  background-color: #363636;
  text-align: left;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  width: 229px;
  padding-bottom: 390px;
  text-align: center;
}

.vertical li {
  list-style: none;
}

.vertical a {
  display: inline-block;
  color: #f2f2f2;
  padding: 20px 80px;
  text-decoration: none;
}

.vertical a:hover {
  background-color: rgba(221, 221, 221, 0.979);
  color: #cb6b6c;
  transform: scale(1.3); 
}

.active {
  background-color: #cb6b6c;
}

.logoRedes{
	padding-left: 10px;
}